@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprum.woff2") format("woff2"),
	url("../fonts/cuprum.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumbold.woff2") format("woff2"),
	url("../fonts/cuprumbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumitalic.woff2") format("woff2"),
	url("../fonts/cuprumitalic.woff") format("woff");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Cuprum";
	src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
	url("../fonts/cuprumbolditalic.woff") format("woff");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans.woff2") format("woff2"),
	url("../fonts/ptsans.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsansbold.woff2") format("woff2"),
	url("../fonts/ptsansbold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

body {
	margin: 0;
	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration:none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
}





/*----------------- Шапка сайта ------------------*/

.site-header {
	padding-bottom: 60px;

	background-color: #f3f7f8;
}	

.header-top {
	width: 100%;
	min-height: 42px;

	background-color: #293449;
}

.header-top .center {
	display: flex;
	height: 100%;
	
}

.center {
	width: 940px;
	margin: 0 auto;
}

.header-logo {
	display: flex;
	width: 220px;
	padding: 9px 20px;
	box-sizing: border-box; 
	align-items: center;
	justify-content: center;

	font-size: 24px;
	line-height: 24px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;	
	box-shadow: 0px 4px 0px 0px #9a212a;   
}

.header-logo:hover {
	background-color: #ca2c37;
}

.header-logo:active {
	background-color: #ba2732;
}

.search-form {
	position: relative;

	display: flex;
	width: 271px;
	align-items: center;
}

.search-form input {
	display: flex;
	width: 100%;
	height: 100%;
	padding: 10px 15px 10px 49px;
	box-sizing: border-box;
	align-items: center;

	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #000000;

	background-color: transparent;
	border: 0; 
}


.search-form:hover {
	background-color: #212a3a;
}

.search-ico {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 17px;

	width: 17px;
	height: 17px;
	margin: auto;

	fill: #ffffff;
	opacity: 0.3;
}

.search-form:hover .search-ico {
	opacity: 1;
}

.search-form input:focus {
	background-color: #ffffff;
	outline: none;
}

.search-form input:focus ~ .search-ico {
	fill: #ee3643;
}

.bookmarks,
.basket {
	display: flex;
	width: 150px;
	padding: 12px 17px;
	box-sizing: border-box;
	align-items: center;

	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
}

.bookmarks:hover,
.basket:hover {
	background-color: #212a3a;
}

.bookmarks:hover .bookmarks-ico,
.basket:hover .basket-ico {
	opacity: 1;
}


.bookmarks:active,
.basket:active {
	background-color: #161d29;
	opacity: 0.5;
}

.bookmarks-ico {
	width: 14px;
	height: 16px;
	margin-right: 13px;

	fill: #ffffff;
	opacity: 0.3;
}

.basket-ico {
	width: 15px;
	height: 15px;
	margin-right: 15px;

	fill: #ffffff;
	opacity: 0.3;
}
.basket.active {
	background-color: #ee3643;
}

.basket.active:hover {
	background-color: #212a3a;
}

.order-button {
	display: flex;
	width: 150px;
	padding: 12px 17px; 
	box-sizing: border-box;
	align-items: center;
	justify-content: center;

	font-size: 17px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;

	background-color: #63a63e;
}

.order-button:hover {
	background-color: #5fbb2d;
}

.order-button:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.header-middle {
	display: flex;
	min-height: 158px;
	padding: 45px 0 30px;
	box-sizing: border-box;
	align-items: flex-start;
}

.header-info {
	margin: 0;
	margin-right: 20px;
	width: 300px;
	padding: 0 53px;
	box-sizing: border-box;
	padding-top: 5px;

	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ee3643;
	text-align: left;
}

.header-contact {
	width: 270px;
	margin-right: auto;
}


.header-address {
	margin: 0;

	font-size: 14px;
	line-height: 24px;
	font-style: normal;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #32425c;
	text-align: center;
}

.header-phone  {
	margin: 0;
	margin-bottom: 5px;
	display: flex;
	width: 100%;
	min-height: 45px;
	padding: 6px 6px 6px 53px;
	box-sizing: border-box;
	align-items: center;  

	font-size: 21px;
	line-height: 21px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;

	border: 3px solid #ffffff;
	background-color: transparent;
	background-image: url("../img/icon-phone.svg");
	background-position: 12px center;
	background-repeat: no-repeat; 	
}

.header-phone a {
	color: #ee3643;	
}

.user-cabinet-list,
.login-cabinet-list {
	margin: 0;
	padding: 0;
	display: flex;
	width: 281px;
	min-height: 45px;
	justify-content: space-between;

	list-style: none;
}

.user-cabinet-item a {
	display: flex;
	min-height: 45px;
	padding: 10px 14px;
	box-sizing: border-box;
	align-items: center;

	font-size: 21px;
	line-height: 21px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #000000;

	background-color: #ffffff;
}

.user-cabinet-item:hover a {
	color: #ee3643;
}
.user-cabinet-item:active a {
	color: rgba(0, 0, 0, 0.3);
}

.user-cabinet-item.input a {
	width: 121px;
	margin-right: 10px;
}

.user-cabinet-item.registration a {
	width: 150px;
	justify-content: center;
}

.login-cabinet-list {
	width: 299px;
}


.login-icon {
	margin-right: 14px;
	width: 20px;
	height: 17px;

	fill: #c5c5c5;
}

.login-icon--cabinet {
	padding-right: 10px;
	width: 20px;
	height: 17px;

	fill: #c5c5c5;
}

.user-ico {
	width: 20px;
	height: 18px;

	fill: #c5c5c5;
}

.login-cabinet-item.username .user-ico {
	margin-right: 14px;
}

.login-cabinet-item.username .login-ico {
	padding-right: 10px;
}

.login-cabinet-item a:hover svg {
	fill: #32425c;
}

.login-cabinet-item a:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-cabinet-item a:active svg {
	fill: #c5c5c5;
}


.user-cabinet-item:hover .login-icon {
	fill: #32425c;
}

.user-cabinet-item:active .login-icon {
	fill: #c5c5c5;
}

.login-cabinet-item.username {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.login-cabinet-item.username > a:nth-of-type(1) {
	padding-left: 13px;
	flex-grow: 1;
}

.login-cabinet-item > a {
	display: flex;
	min-height: 45px;
	box-sizing: border-box;
	align-items: center;

	font-size: 21px;
	line-height: 21px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #000000;

	background-color: #ffffff;
}

.login-cabinet-list a:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-cabinet-sublist {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 5px;
	margin-left: 18px;
	display: flex;   

}

.login-cabinet-subitem a {
	text-decoration: underline;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: rgb(50, 66, 92);
}

.login-cabinet-subitem a:hover {
	color: #ee3643;
}

.login-cabinet-subitem a:active {
	color: rgba(0, 0, 0, 0.3);
}

.login-cabinet-subitem.cabinet {
	margin-left: 16px;
}

.login-cabinet-subitem.cabinet a {
	position: relative;

	padding-left: 16px;
}

.login-cabinet-subitem.cabinet a::before {
	content: "";

	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	margin: auto;

	display: block;
	width: 4px;
	height: 4px;

	background-color: #32425c;
	border-radius: 50%; 	
}

.header-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: flex-start;

	background-color: #32425c;
	border-bottom: 5px solid #293449;
}

.header-nav-link a {
	display: flex;
	min-height: 55px;
	padding: 16px 31px;
	box-sizing: border-box;
	align-items: center;

	font-size: 17px;
	line-height: 17px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
}

.header-nav-link:hover a {
	background-color: #293449;
}

.header-nav-link:active a {
	color: rgba(255, 255, 255, 0.5);
}

/*---------------- Особенности магазина ------------*/

.variation {
	padding: 60px 0px 53px;
	font-size: 0;
}

.variation-block {
	position: relative;

	margin-right: 20px;
	margin-bottom: 20px;
	display: inline-flex;
	width: 300px;
	min-height: 123px;
	padding: 13px 25px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;

	background-color: #ffbf47;
	background-repeat: no-repeat;
}

.block-item-tittle {
	margin: 0;
	margin-bottom: 10px;

	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
}

.variation-block:nth-of-type(n + 3) {
	margin-right: 0;
}

.variation-block:last-of-type {
	margin-bottom: 0;
}

.button.features-item-button {
	width: 135px;

	background-color: rgba(0, 0, 0, 0.1);
}

.features-item-button:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.features-item-button:active {
	background-color: rgba(0, 0, 0, 0.3);
}

.variation-block.materilas {
	background-color: #ffbf47;
	background-image: url("../img/material-icon.svg");
	background-position: right 43px center;
}

.variation-block.instruments {
	background-color: #3bbce3;
	background-image: url("../img/instruments-icon.svg");
	background-position: right 28px center;
}

.variation-block.technic {
	background-color: #dc91d8;
	background-image: url("../img/technic-icon.svg");
	background-position: right 31px center;
}

.variation-block.discount {
	background-color: #8ed78f;
	background-image: url("../img/discount-icon.svg");
	background-position: right 45px center;
}

.variation-block.delivery {
	background-color: #ffc047;
	background-image: url("../img/delivery-icon.svg");
	background-position: right 31px center;
}

.variation-block.new::before {
	content: "new";

	position: absolute;
	top: 5px;
	right:-25px;
	transform: rotate(45deg);

	display: inline-flex;
	width: 83px;
	height: 29px;
	align-items: center;
	justify-content: center;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	background-color: #ff5357;
}
/*---------------- Слайдер------------*/

.variation-block__slider {
	position: relative;

	float: left;
	margin-right: 20px;
	width: 620px;
	height: 266px;
}

/*---------------- Популярные товары ------------*/

.favorite {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

.favorite-tittle-container {
	margin-bottom: 20px;
	display: flex;
	width: 100%;
	height: 89px;
	padding: 20px 30px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;

	background-color: #f9f5f0;
}

.favorite-tittle {
	margin: 0;

	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #32425c;
	text-transform: uppercase;
}

.favorite-centr-button {
	width: 253px;
}

.favorite-centr-button:hover {
	background-color: #ca2c37;
}

.favorite-centr-button:active {
	background-color: #ba2732;
}

.favorite-item {
	position: relative;

	margin-right: 20px;
	display: flex;
	width: 220px;
	min-height: 318px;
	padding-bottom: 20px;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	border: 1px solid #eaeaea;
}

.favorite-item.new::before {
	content: "new";

	position: absolute;
	top: 5px;
	right: -25px;
	transform: rotate(45deg);
	z-index: 2;

	display: inline-flex;
	width: 83px;
	height: 29px;
	align-items: center;
	justify-content: center;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	background-color: #ff5357;
}

.favorite-item:last-of-type {
	margin-right: 0;
}

.favorite-img-container {
	display: flex;
	width: 100%;
	height: 180px;
	padding: 5px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.favorite-item-img {
	max-width: 100%;
	height: auto;
}

.favorite-item:nth-of-type(1) .favorite-item-img {
	margin-top: -10px;
}

.favorite-item:nth-of-type(2) .favorite-item-img {
	margin-top: -10px;
	margin-left: -10px;
}

.favorite-item:nth-of-type(3) .favorite-item-img {
	margin-top: -10px;
	margin-left: -20px;
}

.favorite-item:nth-of-type(4) .favorite-item-img {
	margin-top: -15px;
	margin-left: -25px;
}

.favorite-item-tittle {
	margin: 0;
	margin-bottom: 0;

	max-width: 170px;

	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-align: center;
}

.favorite-old-price {
	margin-bottom: 10px;

	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #a9a9a9;
	text-transform: uppercase;
	text-decoration: line-through;
}

.favorite-new-price {
	position: relative;

	margin-top: auto;
	display: inline-flex;
	width: 100px;
	height: 38px;
	padding-right: 3px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;

	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #ffffff;

	background-color: #ee3643;
}

.favorite-new-price::after {
	content: "";

	position: absolute;
	right: -20px;
	top: 0;

	display: block;
	width: 0;
	height: 0;

	border-left: 20px solid #ee3643;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
}

.favorite-new-price::before {
	content: "";

	position: absolute;
	left: -20px;
	top: 0;

	display: block;
	width: 20px;
	height: 38px;

	background-color: #ee3643;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.buttons-box {
	position: absolute;
	top: 0;
	left: 0;

	display: none;
	width: 100%;
	height: 180px;
	padding: 5px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	background-color: #ffffff;
}

.catalog-item-button {
	text-decoration: none;

	display: inline-flex;
	width: 135px;
	min-height: 38px;
	padding: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;

	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	text-transform: uppercase;

	border-radius: 3px;
}

.catalog-item-button.buy {
	position: relative;
	margin-bottom: 10px;

	padding-left: 14px;

	color: #ffffff;

	background-color: #63a63e;
	box-shadow: inset 0px -3px 0px 0px #367315;
}

.catalog-item-button.buy::before {
	content: "";

	position: absolute;
	left: 12px;
	top: 0;
	bottom: 0;
	margin: auto;
	
	width: 15px;
	height: 15px;

	background-image: url("../img/cart-icon.svg");
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.catalog-item-button.buy:hover {
	background-color: #5fbb2d;
}

.catalog-item-button.buy:hover::before {
	opacity: 1;
}

.catalog-item-button.buy:active {
	background-color: #518534;
	box-shadow: none;
}

.catalog-item-button.marker {
	color: #32425c;

	background-color: #ffffff;
	box-shadow: inset 0px 0px 0px 3px #63a63e;
}

.catalog-item-button.marker:hover {
	box-shadow: inset 0px 0px 0px 3px #32425c;
}

.catalog-item-button.marker:active {
	opacity: 0.3;
}

.favorite-item:hover .buttons-box {
	display: inline-flex;
}

/*------------------- Фирмы производителей ------------------*/

.brand {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 85px;
}

.brand-centr-container {
	margin-bottom: 20px;
	display: flex;
	width: 100%;
	height: 89px;
	padding: 20px 25px;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;

	background-color: #f9f5f0;

}

.brand-tittle {
	margin: 0;
	
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #32425c;
	text-transform: uppercase;
}

.brand-centr-button {
	width: 253px;
}

.brand-centr-button:hover {
	background-color: #ca2c37;
}

.brand-centr-button:active {
	background-color: #ba2732;
}

.brand-item {
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
	width: 220px;
	min-height: 145px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	overflow: hidden;

	border: 1px solid #eaeaea;
}

.brand-item:nth-of-type(4n + 1) {
	margin-right: 0;
}

.brand-item:nth-last-of-type(-n + 4) {
	margin-bottom: 0;
}

.brand-item a {
	display: flex;
	width: 100%:
	height 100%;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.brand-item:hover {
	box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.brand-item:active {
	box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5); 
}

.brand-item:active .brand-item-img {
	opacity: 0.3 
}

/*------------------- О компании ------------------*/

.two-columns {
	display: flex;
	padding: 80px 0px 85px;
	justify-content: space-between;
}

.about-us {
	width: 540px;
}

.about-us-title,
.contacts-title {
	margin: 0;
	margin-bottom: 25px;

	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.about-us-desc,
.contacts-desc {
	margin: 0;
	margin-bottom: 25px;

	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	font-family:"PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
}

.about-us-desc:last-of-type {
	margin-bottom: 15px;
}

.about-us-list {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;

	list-style: none;
}

.about-us-item {
	position: relative;

	margin-bottom: 10px;
	padding-left: 35px;

	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #000000;
}

.about-us-item::before{
	content: "";

	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	width: 25px;
	height: 2px;

	background-color: #ee3643;
}

.contacts {
	width: 300px;
}

.contacts-desc {
	margin-bottom: 30px;
}

.contacts-img {
	margin-bottom: 32px;
}

.about-us-button {
	width: 220px;
}

.contacts-button{
	width: 300px;
}

.features-item-button,
.favorite-centr-button,
.brand-centr-button,
.contacts-button,
.about-us-button,
.feedback-button,
.basket-button,
.continue-button {
	padding: 0;
	display: inline-flex;
	min-height: 38px;
	padding: 10px 20px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;

	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
	text-transform: uppercase;

	background: none;
	border: 0;
	background-color: #ee3643;
	border-radius: 3px;
}

.contacts-button:hover,
.about-us-button:hover {
	background-color: #ca2c37;
}

.contacts-button:active,
.about-us-button:active {
	background-color: #ba2732;
}

/*---------------- О перфораторах -----------------*/

.device-info {
	padding: 60px 0 68px;
	background-color: #f2f6f8;
}

.device-info-tittle {
	margin: 0;
	margin-bottom: 25px;

	font-weight: normal;
	font-size: 30px;
	line-height: 36px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #32425c;
	text-transform: uppercase;
}

.device-info-desc {
	margin: 0px; 

	font-weight: normal;
	font-size: 13px;
	line-height: 24px;
	font-family:"PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
}

/*---------------- Подвал сайта -----------------*/

.site-footer {
	background-color: #32425c;
}

.footer-top {
	margin-bottom: 35px;
	display: flex;
	justify-content: space-between;
}

.footer-logo {
	display: inline-flex;
	width: 220px;
	height: 64px;
	justify-content: center;
	align-items: center; 

	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
	box-shadow: 0px 4px 0px 0px #b52933;

}

.footer-nav-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
	align-self: flex-end;

}

.footer-nav-link {
	margin-right: 60px;
}

.footer-nav-link:last-child {
	margin-right: 0;
}

.footer-nav-link a {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
}

.footer-middle {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-between;
}

.footer-contact address,
.footer-contact a {
	margin: 0;
	padding: 0;  
	width:;

	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
}

.footer-contact p {
	margin: 0;
	padding: 0; 
}

.footer-nav-catalog {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	justify-content: space-between;
	align-self: flex-start;
}

.footer-nav-item {
	margin-right: 60px;
}

.footer-nav-item:last-child {
	margin-right: 0;
}

.footer-nav-item a {
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffd180;
}

.footer-nav-item a:hover,
.footer-nav-link a:hover {
	text-decoration: underline;
}

.footer-nav-item a:active,
.footer-nav-link a:active {
	text-decoration: none;
	opacity: 0.3;
}

.footer-bottom {
	background-color: #293449;
}


.footer-bottom .center {
	display: flex;
	height: 107px;
	align-items: center;
}

.copyright {
	margin: 0;
	margin-right: 150px;
	width: 240px;

	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
}

.social-list {
	display: flex;
	margin: 0; 
	padding: 0;
	list-style: none;
	margin-right: 120px;
}

.social-link:not(:last-child) {
	margin-right: 5px;
}

.social-link a {
	display: block;
	width: 40px;
	height: 40px;

	background-color: #212a3a;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 50%;
}

.social-link a:hover {
	background-color: #ee3643;
}

.social-link.vk a {
	background-image: url("../img/icon-vk.svg");
}

.social-link.fb a {
	background-image: url("../img/icon-fb.svg");
}

.social-link.insta a {
	background-image: url("../img/icon-insta.svg");
}

.footer-email a {
	margin-right: 50px;
}

.footer-email,
.footer-dev {
	margin: 0;

	font-weight: normal;
	font-size: 16px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #ffffff;
}

.footer-email a,
.footer-dev a {
	color: #ffd180;
}

.footer-email a:hover,
.footer-dev a:hover {
	text-decoration: underline;
} 

.footer-email a:active,
.footer-dev a:active {
	text-decoration: none;

	color: 	#ee3643;
} 

/*----------------- Обратная связь----------------*/

@keyframes bounce {
	0% {
		transform:  translateY(-1000px);
	}

	70% {
		transform: translateY(30px);
	}
	
	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}	
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}
	
	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	
	margin: auto;
	display: none;
	box-sizing: border-box;

	box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75) 
}




.modal-feedback {
	width: 620px;
	height: 430px;

	border-top: 7px solid #ff5357;
} 

.modal.active {
	display: block;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
	animation: shake 0.6s;
}

.feedback-form-container {
	width: 100%;
	height: 311px;
	padding: 45px 80px 37px;
	box-sizing: border-box;

	background-color: #ffffff;
}

.feedback-user-info {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.user-info-field {
	margin: 0;
	width: 220px;
}

.feedback-username label {
	margin-bottom: 10px;

	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #000000;
}

.user-info-field input {
	padding: 0;
	background: none;
	border: 0;
	
	display: flex;
	width: 100%;
	height: 38px;
	padding: 0;
	padding: 10px 16px;
	box-sizing: border-box;

	border: 2px solid #dee3e4;
	border-radius: 3px;
}

.feedback-field {
	margin: 0;
}

.feedback-form textarea {
	padding: 0;
	background: none;
	border: 0;

	display: flex;
	width: 100%;
	height: 114px;
	padding: 10px 16px;
	box-sizing: border-box;

	border: 2px solid #dee3e4;
	border-radius: 3px;
}

.feedback-button-box {
	display: flex;
	width: 100%;
	height: 112px;
	align-items: center;
	justify-content: center;

	background-color:#f4f4f4;
}

.feedback-button {
	width: 460px;
}

.modal-close,
.modal-close-2 {

	padding: 0;
	border: 0;
	background: none;

	position: absolute;
	top: 16px;
	right: 9px;

	display: block;
	width: 21px;
	height: 21px;

	background-image: url("../img/icon-close.svg");
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}



/*------------------ Карта --------------------*/
.modal-map {
	width: 940px;
	height: 446px;

	background-image: url("../img/map-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5)
}

/*------------------ Оформление заказа --------------------*/

.modal-purchases {
	width: 610px;
	height: 282px;

	border-top: 7px solid #ff5357;
    background-color: #f4f4f4;
}

.purchases-form-container {
	height: 168px;
	width: 100%;
	padding:75px 120px 75px 176px;

	box-sizing: border-box;

	background-color: #ffffff;
}

.purchases-info-field {
	margin: 0;
}

.ico-mark {
	position: absolute;
	top: 54px;
	left: 80px;

	background-image: url("../img/icon-mark.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.purchases-info-field {
	font-weight: normal;
	font-size: 24px;
	line-height: 24px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
}

.basket-button-box {
	display: flex;
	height: 110px;
	width: 100%;
	
	align-items: center;
	justify-content: center;

	background-color: #f7f3ec;
}

.basket-button, 
.continue-button {
	margin-top: 37px;
	margin-bottom: 37px;
	margin-right: 20px;
    width: 220px;
}

.continue-button {
	margin-right: 20px;
    
    font-weight:;
	color: black;

	background-color: #ffffff;
}

/*----------------------------- Хлебные крошки -------------------------------*/

.breadcrumbs-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	height: 59px;
	align-items: center;	
}

.breadcrumbs-item:not(:last-child) {
	position: relative;
	margin-right: 40px;

}

.breadcrumbs-item:not(:last-child)::after {
	content: "";

	position: absolute;
	right: -24px; 
	top: 0;
	bottom: 0;
	margin: auto; 

	width: 8px;
	height: 12px;

	background-image: url("../img/icon-right-small.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.breadcrumbs-item.home a {
	display: block;
	width: 14px;
	height: 12px; 

	background-image: url("../img/icon-home.svg");
	background-position: center;
	background-repeat: no-repeat;
}

.breadcrumbs-item a {
	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;
}

.catalog-title {
	margin-bottom: 20px;
	display: flex;
	height: 89px;
	padding: 0 30px;
	box-sizing: border-box;
	align-items: center;

	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;
	color: #32425c;
	text-transform: uppercase;

	background-color: #f2f6f8; 
} 
/*----------------- Фильтры --------------------*/
.catalog-filters {
	margin-right: 20px;
	width: 220px;
}

.filters-form {

}

.filters-tittle {
	margin-bottom: 10px;
	display: flex;
	width: 100%;
	height: 38px;
	padding: 0px 18px;
	box-sizing: border-box;
	align-items: center;

	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;

	background-color: #f7f3ec;
	border-radius: 3px;
}

.filters-price,
.filters-brands,
.filters-supply {
	padding: 0;
	margin: 0;
	border: 0;
	margin-bottom: 15px;
	padding-bottom: 23px;
	border-bottom: 1px solid #e5e5e5;
}

.filters-price-title,
.filters-brands-tittle,
.filters-supply-tittle {
	margin-bottom: 15px;

	font-weight: bold;
	font-size: 17px;
	line-height: 30px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;
	
}

.filters-price-control {
	margin-bottom: 9px;
	display: flex;
	height: 80px;
	padding: 20px;
	box-sizing: border-box;
	align-items: center;

	background-color: #f7f3ec;
	background-image: linear-gradient(#d7dcde, #d7dcde);
	background-position: center;
	background-size: 180px 2px;
	background-repeat: no-repeat;
	border-radius: 3px;
}

.filters-price-range {
	width: 120px;
	height: 2px;

	background-color: #00ca74;
}

.filters-price-button {
	padding: 0;
	width: 20px;
	height: 20px;
	box-sizing: border-box;

	background: none;
	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0px 2px 0px 0px #e0ddd8;
}

.filters-price-input {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: space-between;	
}

.filters-price-field {
	margin: ;
}

.filters-price-input input {
	padding: 0;
	width: 95px;
	height: 38px;
	box-sizing: border-box;
	align-items: center;
	display: flex;

	font-weight: normal;
	font-size: 17px; 
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;
	text-align: center;

    background: none;
	background-color: #f7f3ec;
	border: 0;
	border-radius: 3px;
}

.filters-price-input::after {
	content: "";

	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

	margin:auto;
	width: 10px;
	height: 1px;

	background-color: #444444;
}



.filters-brands-list,
.filters-supply-list {
	padding: 0;
	margin: 0;

	list-style: none;
	text-transform: uppercase;
}

.filters-brands-item:not(:last-child),
.filters-supply-item:not(:last-child) {
	margin-bottom: 17px;
}

.filters-brands-item input,
.filters-supply-item input {
	display: none;
}

.filters-brands-desc  {
	display: flex;
	height: 23px;
	align-items: center;
	padding-left: 35px;

	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;

	background-image: url("../img/checkbox-off.svg");
	background-position: left center;
	background-repeat: no-repeat;
}

.filters-brands-item input:checked + .filters-brands-desc {
    background-image: url("../img/checkbox-on.svg");
	
}

/*
.filters-brands-item:active {
	background-image: url("../img/checkbox-on.svg");
	background-position: left center;
	background-repeat: no-repeat;
}
*/


.filters-supply {
	padding: 0;
	border: 0;
	margin-bottom: 75px;
}

.filters-supply-title {
	margin-bottom: 10px;
}

.filters-supply-desc {
	display: flex;
	height: 25px;
	align-items: center;
	padding-left: 35px;

	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;

	background-image: url("../img/radio-off.svg");
	background-position: left center;
	background-repeat: no-repeat;

}


.filters-supply-item input:checked + .filters-supply-desc {
	background-image: url("../img/radio-on.svg");
}


.filters-button {
	padding: 0;
	display: flex;
	width: 140px;
	height: 38px;
	justify-content: center;
	align-items: center;

	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;
	
	background: none;
	background-color: #ffffff;
	border: 0;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}

/*------------------------ Сортировка ---------------------*/

.catalod-sort {
	margin-bottom: 20px;
	display: flex;
	width: 100%;
	height: 38px;
	padding: 0px 18px;
	box-sizing: border-box;
	align-items: center;

	font-weight: normal;
	font-size: 13px;
	line-height: 15px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;

	background-color: #f7f3ec;
	border-radius: 3px;
}

.sort-tittle {
	margin-right: auto;

	font-weight: normal;
	color: #000000;
}

.sort-type-list{
	margin: 0;
	padding: 0;
	margin-right: 46px;

	list-style: none;

	display: flex;
	width: 355px;
	justify-content: space-between; 
}

.sort-type-item:first-child a {
	color:#ee3643;

	border-bottom: none;
}


.sort-type-item a {
	color: rgba(0, 0, 0, 0.3);

	border-bottom: 1px dotted #ee3643;
}

.sort-type-item a:hover {
	color: #000000;

	border-bottom: 1px solid #ee3643;
}	

.sort-type-item a:active {
	color: #ee3643;

	border-bottom: none;
}

.sort-direction-list {
	width: 43px;	
}

.sort-direction-item {
	margin: 0;
	padding: 0;
	display: flex;
	width: 100%;
	justify-content: space-between; 
}

.icon-up-dir  {
	fill: #ee3643;
}

.icon-down-dir  {
	fill: #c5c5c5;
}

.icon-up-dir:hover, 
.icon-down-dir:hover {
	fill:#000000;
}

.icon-up-dir:active, 
.icon-down-dir:active {
	fill:#ee3643;
}


/*
.sort-direction-item a {
	display: block;
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
}

.sort-direction-item.up.current.red a:active {
	border-bottom: 10px solid #ee3643;
}

.sort-direction-item.down a {
	border-top: 10px solid #c5c5c5;
}

.sort-direction-item.up.current a {
	border-bottom: 10px solid #ee3643;
}

.sort-direction-item.up.current a:hover {
	border-bottom: 10px solid #000000;
}

.sort-direction-item.down.current a:active {
	border-top: 10px solid #ee3643;
}

.sort-direction-item.down a:hover {
	border-top: 10px solid #000000;
}
*/
/*------------------------ Каталог товаров ---------------------*/
.catalog-container {
	display: flex;
}

.catalog-main-container {
	width: 700px;
}

.catalog-list {
	margin-bottom: 32px;
	display: flex;
	flex-wrap: wrap;
}

.catalog-item {
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
	display: flex;
	width: 220px;
	min-height: 318px;
	padding-bottom: 20px;
	box-sizing: border-box;
	flex-direction: column;
	align-items: center;
	overflow: hidden;

	border: 1px solid #eaeaea;
}

.catalog-item:nth-of-type(3n) {
	margin-right: 0;
}

.catalog-img-container {
	display: flex;
	width: 100%;
	height: 180px;
	padding: 5px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.catalog-item-img {
	max-width: 100%;
	height: auto;
}

.catalog-item:nth-of-type(1n) .catalog-item-img {
	margin-top: -10px;
	margin-left: -10px;
}

.catalog-item:nth-of-type(2n) .catalog-item-img {
	margin-top: -10px;
	margin-left: -20px;
}

.catalog-item:nth-of-type(2n) .catalog-item-img {
	margin-top: -15px;
	margin-left: -25px;
}

.catalog-item-tittle {
	margin: 0;
	margin-bottom: 10px;
	max-width: 170px;

	font-weight: bold;
	font-size: 18px;
	line-height: 20px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-align: center;
	
}

.catalog-old-price {
	margin: 0;
	margin-bottom: 10px;

	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #a9a9a9;
	text-transform: uppercase;
	text-decoration: line-through;
}

.catalog-sale-price {
	margin: 0;
	position: relative;
	margin-top: auto;
	display: inline-flex;
	width: 100px;
	height: 38px;
	padding-right: 3px;  
	box-sizing: border-box;
	justify-content: center;
	align-items: center;

	font-weight: bold;
	font-size: 17px;
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #ffffff;

	background-color: #ee3643;	
}

.catalog-item.new::before {
	content: "new";

	position: absolute;
	top: 5px;
	right: -25px;
	transform: rotate(45deg);
	z-index: 2;

	display: inline-flex;
	width: 83px;
	height: 29px;
	align-items: center;
	justify-content: center;

	font-size: 16px;
	line-height: 18px;
	color: #ffffff;

	background-color: #ff5357
}


.catalog-sale-price::after {
	content: "";

	position: absolute;
	right: -20px;
	top: 0;

	display: block;
	width: 0;
	height: 0;

	border-left: 20px solid #ee3643;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
}

.catalog-sale-price::before {
	content: "";

	position: absolute;
	left: -20px;
	top: 0;

	display: block;
	width: 20px;
	height: 38px;

	background-color: #ee3643;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}



.buttons-box {
	position: absolute;
	top: 0;
	left: 0;

	display: none;
	width: 100%;
	height: 170px;
	padding: 5px;
	box-sizing: border-box;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	background-color: #ffffff;
}

.catalog-item-button {
	display: inline-flex;
	width: 135px;
	min-height: 38px;
	padding: 10px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;

	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	font-family: "Cuprum", Tahoma, Geneva, sans-serif;

	border-radius: 3px; 
}	

.catalog-item-button.buy {
	position: relative;
	margin-bottom: 10px;
	padding-left: 14px;

	color: #ffffff;

	background-color: #63a63e;
	box-shadow: 0px 3px 0px 0px #367315;
}

.catalog-item-button.buy::before {
	content: "";

	position: absolute;
	left: 12px;
	top: 0;
	bottom: 0;

	margin: auto;
	width: 15px;
	height: 15px;

	background-image: url("");
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.3;
}

.catalog-item-button.buy:hover {
	background-color: #5fbb2d;
}

.catalog-item-button.buy:hover::before {
	opacity: 1;
}

.catalog-item-button.buy:active {
	background-color: #518534;
	box-shadow: none;
}


.catalog-item-button.marker {
	color: #32425c;

	background-color: #ffffff;
	box-shadow: inset 0px 0px 0px 3px #63a63e;
}

.catalog-item-button.marker:hover {
	box-shadow: inset 0px 0px 0px 3px #32425c;
}

.catalog-item-button.marker:active {
	opacity: 0.3;
}

.catalog-item:hover .buttons-box {
	display: inline-flex;
}




/*------------------- Пагинация ------------------*/

.pagination {
	margin-bottom: 60px;
}

.pagination-list {
	display: flex;
	margin: 0;
	padding: 0; 

	list-style: none;
}

.pagination-button.disabled {
	display: none;
}

.pagination-item:not(:last-child) {
	margin-right: 10px;
}

.pagination-button a {
	padding: 0px 30px;
}

.pagination-item a { 
	display:flex;
	min-width: 38px;
	height: 38px;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;

	font-weight: normal;
	font-size: 13px;
	line-height: 18px;
	font-family: "PT Sans", Tahoma, Geneva, sans-serif;
	color: #000000;
	text-transform: uppercase;

	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
}


.pagination-item.current a {
	color: #ffffff;

	background-color: #ee3643;
	border: none;
}

.pagination-item a:hover {
	border: 1px solid #bdc6ca;
}

.pagination-item a:active {
	border: 1px solid #ee3643;
}




